.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1px;  
    transition: 180ms ease-in ;
    margin-left: 70px;
}
.sidebarOption:hover {
    background-color: black;
    border-radius: 9px;
} 
.sideOption-icon {
    padding: 10px;
}
.sidebarOption > p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    padding: 5px;
    
}