.sidebar {
    height: 100vh;
    flex: 20%;
    background-color: white;
    padding-left:25px;
    padding-right: 25px;
    cursor: pointer;
    color: grey;

}
.logo {
    height: 120px;
}
.side-title {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;

}
.sidebar > hr {
    border: 1px solid grey;
    width: 90%;
    margin: 10px auto;
}
